.skills {
  text-align: center;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    width: 270px;
    height: 135px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: $brd-rad;
    overflow: hidden;
    padding: 25px 15px;
  }
}
